// start header
.header {
  &__top {
    display: flex;
    justify-content: space-between;
    height: 94px;
    align-items: center;
  }
  &__logo {
    margin-left: 0px;
  }
  // &__list {
  //   display: flex;
  //   justify-content: space-between;
  // }
  &__item {
    margin-left: 44px;
    font-size: 12px;
    font-family: "Raleway-VariableFont_wght";
    line-height: 14px;
    display: inline-block;
    letter-spacing: 0.6px;
  }
}
.header__btn {
  width: 30px;
  display: none;
}
.header__item-link--active {
  position: relative;
  padding-bottom: 10px;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: $line;
    bottom: 0;
    left: -6px;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
}

.previous {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 752px;
  font-family: "Montserrat-Bold";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
  &__items {
    width: 440px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    font-size: 100px;
    line-height: 121px;
    color: #fff;
    width: 440px;
  }
  &__text {
    margin-top: 18px;
    font-size: 16px;
    line-height: 19px;
    color: $line;
    width: 440px;
  }
  &__btn {
    margin-top: 100px;
    cursor: pointer;
  }
}
.header {
  width: 100%;
  height: 94px;
  position: fixed;
  background-color: #fef9f6;
  z-index: 100;
}
// end header
