.previous-video {
  height: 100%;
  padding-bottom: 164px;
  &__box {
    background-image: url("../img/content/video-bg.jpg");
    height: 324px;
    // max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
.numpage {
  padding-bottom: 165px;
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
  } 
  &__item-num {
    font-size: 60px;
    line-height: 73px;
    font-family: "Montserrat-Bold";
    color: $title;
    margin-bottom: 20px;
  }
  &__item-desc {
    line-height: 19px;
    font-family: "OpenSans-Regular";
    color: #00B2A0
  }
}
