// start quote
.quote {
    padding: 130px 0;
    &__box {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 650px;
        text-align: center;
    }
    &__box-text {
        margin-bottom: 51px;
        font-family: "Merriweather-LightItalic";
        font-size: 18px;
        line-height: 36px;
        color: $title
    }
    &__box-author {
        line-height: 32px;
        font-family: "Merriweather-LightItalic";
        color: #9E9E9E;
    }
}




// end quote