// start team
.team {
    padding: 120px 0 164px;
    &__title {
        padding-bottom: 102px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
    }
    &__item-name {
        margin-top: 35px;
        margin-bottom: 12px;
        line-height: 17px;
        font-family: "Montserrat-Bold";
        color: $title;
    }
    &__item-profession {
        font-size: 12px;
        line-height: 16px;
        color: #C2C2C2;
    }
    &__item-images {
        max-width: 370px;
        width: 100%;
    }
}


// end team