// start about
.about {
  background-color: #f6f8fa;
  padding: 143px 0;
  &__inner {
    display: flex;
  }
  &__content {
    max-width: 770px;
    margin-left: 133px;
  }
}
.about__title {
  width: 344px;
}
.title {
  font-size: 48px;
  line-height: 78px;
  font-family: "Montserrat-Bold";
  position: relative;
  padding-bottom: 14px;
}
.title::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 4px;
  background-color: $line;
  left: 0;
  top: 90px;
}

// end about
