// start letmake
.letmake {
    background-color: #F6F8FA;
    &__inner {
        display: flex;
    }
    &__content {
        margin-left: 130px;
    }
    &__title {
        width: 430px;
    &::before {
        top: 160px;
        margin-bottom: 67px;
    }
}
    &__box {
        max-width: 470px;
        padding: 0 10px;
    }
   
}


// end letmake