// start people
.people {
    padding: 305px 0 114px;
  background-color: #f6f8fa;
  //   &__slider {

  //   }
  &__item {
    max-width: 705px;
    min-height: 208px;
  }
  &__title {
    font-size: 40px;
    line-height: 52px;
    font-family: "Montserrat-Bold";
    color: $title;
    margin-bottom: 32px;
  }
  &__text {
    max-width: 705px;
    color: #777777;
    margin-bottom: 197px;
  }
  .slick-btn {
    position: relative;
    border: none;
    background-color: transparent;
  }
  .slick-next {
    content: "";
    position: absolute;
    top: 120px;
    right: 10px;
  }
  .slick-prev {
    content: "";
    position: absolute;
    top: 120px;
    left: -85px;
  }
  .slick-dots {
    display: flex;
    li {
      margin-right: 15px;
      button {
        width: 6px;
        height: 6px;
        font-size: 0;
        border-radius: 50%;
        padding: 0;
        outline: none;
        border: none;
        background-color: $title;
        opacity: 0.4;
      }
    }
    
    .slick-active {
        button {
            width: 10px;
            height: 10px;
            background-color: $title;
        }
    }
  }
  
}

// end people
